body{
    background: url("bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
a:hover{
    color: red; transition:color 0.3s ease ;
}
table:hover{
    transform:scale(1.20); transition: transform 0.5s ease;
}
table{
    background-color: beige;
    border-radius: 20px;
    overflow: hidden;
    
}
a{
    transition: color 0.3s ease;
}