body{
    background: url("bg1.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
a:hover{
    color: red; transition:color 0.3s ease ;
}
table:hover{
    transform:scale(1.05); transition: transform 0.5s ease;
}
table{
    background-color:rgba(240, 200, 207, 0.837);
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Great Vibes',cursive;
}
a{
    transition: color 0.3s ease;
}